.slider {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;

    &__slide {
        width: 270px;
        height: 180px;
        margin: 0 7.5px 0 7.5px;
        border-radius: 10px;

        @media only screen and (min-width: 768px) {
            width: 540px;
            height: 360px;
            margin: 0 15px 0 15px;
        }
    }

    // & > * {
    // transform: translateX(285px);
    // transform: translateX(570px);
    // }
}
