* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  font: inherit;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #fff7f0;
}

.h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: #030303;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .h1 {
    font-size: 44px;
    line-height: 55px;
    margin-bottom: 27px;
  }
}
@media only screen and (min-width: 1200px) {
  .h1 {
    font-size: 56px;
    line-height: 71px;
    margin-bottom: 23px;
  }
}

.p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7a746e;
  max-width: 500px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .p {
    max-width: 573px;
    font-size: 18px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  .p {
    max-width: 730px;
  }
}

.header {
  max-width: 1111px;
  margin: 0 auto;
  padding: 16px 16px 32px 16px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 34px 40px 64px 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    padding-bottom: 80px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .nav {
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1200px) {
  .nav {
    margin-bottom: 66px;
  }
}

.logo {
  width: 48px;
  height: 48px;
}
@media only screen and (min-width: 768px) {
  .logo {
    width: 64px;
    height: 64px;
  }
}

.btn {
  border: none;
  border-radius: 50px;
  padding: 8px 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #fff7f0;
  cursor: pointer;
  transition: background-color 0.2s;
}
@media only screen and (min-width: 768px) {
  .btn {
    font-size: 16px;
    padding: 14px 45px;
  }
}

.btn--black {
  background-color: #030303;
}

.btn--black:hover {
  background-color: #755cde;
}

.btn--orange {
  background-color: #eb7565;
}

.btn--orange:hover {
  background-color: #f6a560;
}

.ser {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 16px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: minmax(0, 200px) minmax(0, 200px);
  grid-template-rows: 364px 182px 158px 182px 182px;
  column-gap: 25px;
  row-gap: 24px;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .ser {
    padding: 0 39px;
    margin-bottom: 120px;
    grid-template-columns: repeat(4, 155px);
    grid-template-rows: 182px 158px 182px;
    gap: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .ser {
    margin-bottom: 136px;
    grid-template-columns: 354px 164px 164px 354px;
    grid-template-rows: 182px 158px;
  }
}
.ser__img {
  position: absolute;
  top: 24px;
  right: 24px;
}
.ser__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  position: absolute;
  left: 24px;
  bottom: 24px;
}
.ser > * {
  position: relative;
  border-radius: 8px;
}
.ser__design {
  background-color: #755cde;
  grid-column: 1/3;
}
@media only screen and (min-width: 768px) {
  .ser__design {
    grid-row: 1/3;
  }
}
@media only screen and (min-width: 1200px) {
  .ser__design {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}
.ser__ui {
  background-color: #f6a560;
}
.ser__apps {
  background-color: #f39e9e;
}
.ser__illustrations {
  background-color: #eb7565;
  grid-column: 1/3;
}
@media only screen and (min-width: 768px) {
  .ser__illustrations {
    grid-column: 3/5;
    grid-row: 2/3;
  }
}
@media only screen and (min-width: 1200px) {
  .ser__illustrations {
    grid-column: 2/4;
    grid-row: 2/3;
  }
}
.ser__photo {
  background-color: #61c4b7;
  grid-column: 1/3;
}
@media only screen and (min-width: 1200px) {
  .ser__photo {
    grid-column: 4/5;
    grid-row: 1/2;
  }
}
.ser__motion {
  background-color: #552049;
  grid-column: 1/3;
}
@media only screen and (min-width: 768px) {
  .ser__motion {
    grid-column: 3/5;
    grid-row: 3/4;
  }
}
@media only screen and (min-width: 1200px) {
  .ser__motion {
    grid-column: 4/5;
    grid-row: 2/3;
  }
}

.author {
  padding: 0 16px;
  margin-bottom: 100px;
}
@media only screen and (min-width: 768px) {
  .author {
    display: flex;
    padding: 0;
    max-width: 690px;
    margin: 0 auto;
    margin-bottom: 120px;
  }
}
@media only screen and (min-width: 1200px) {
  .author {
    max-width: 1110px;
    margin-bottom: 88px;
    align-items: center;
  }
}
.author__img-box {
  width: 300px;
  height: 300px;
  margin: 0 auto 40px auto;
}
@media only screen and (min-width: 768px) {
  .author__img-box {
    width: 364px;
    height: 364px;
    margin: 0 69px 0 -83px;
  }
}
@media only screen and (min-width: 1200px) {
  .author__img-box {
    width: 445px;
    height: 445px;
    margin: 0 125px 0 0;
  }
}
.author__img {
  width: 100%;
  height: 100%;
}
.author__about {
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .author__about {
    text-align: left;
    max-width: 339px;
  }
}
@media only screen and (min-width: 1200px) {
  .author__about {
    max-width: 540px;
    margin: 0;
  }
}
.author__h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  color: #030303;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .author__h2 {
    font-size: 32px;
    line-height: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .author__h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 34px;
  }
}
.author__p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7a746e;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .author__p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 1200px) {
  .author__p {
    margin-bottom: 32px;
  }
}

.footer {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 16px 32px 16px;
}
@media only screen and (min-width: 768px) {
  .footer {
    max-width: 770px;
    padding: 0 40px 56px 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer {
    max-width: 1110px;
    padding-bottom: 64px;
  }
}
.footer nav {
  margin: 0;
}
@media only screen and (min-width: 1200px) {
  .footer .btn {
    margin-left: auto;
  }
}
.footer__book {
  background-color: #030303;
  border-radius: 10px;
  margin-bottom: 40px;
  text-align: center;
  padding: 48px 24px;
}
@media only screen and (min-width: 768px) {
  .footer__book {
    padding: 56px 38px 64px 38px;
    margin-bottom: 56px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__book {
    text-align: left;
    display: flex;
    align-items: center;
    padding: 81px 94px 80px 65px;
  }
}
.footer__text-box {
  color: #fff7f0;
}
@media only screen and (min-width: 1200px) {
  .footer__text-box {
    width: 540px;
  }
}
.footer__h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .footer__h2 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 26px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 25px;
  }
}
.footer__p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .footer__p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 26px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__p {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
